<mat-card class="section-card">
    <mat-card-title>Tâches à faire</mat-card-title>
    <mat-card-content>
        <div class="task-list">
            <div class="task-item" *ngFor="let card of cards">
                <mat-icon class="task-icon">description</mat-icon>

                <div class="task-center">
                    <div class="task-title">
                        <strong>{{ card.title }}</strong>
                        <span class="separator" *ngIf="card.description"> - </span>
                        {{ card.description }}
                    </div>
                    <div class="task-date">
                        Créé le : {{ card.date | date:'short' }}
                    </div>
                </div>

                <button mat-icon-button (click)="deleteCard(card)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>

    <button class="add-button" (click)="openAddCardDialog()">
        AJOUTER
    </button>
</mat-card>
